@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: #778899;
}

.markdown > * {
  all: revert;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
